<header class="row header fixed-top font-small blue ">
    <div class="col-sm-3 col-md-2 col-xl-2 g-py-30 div-header-img nav-back-logo">
        <a href="../../#/app/layout" class="navbar-brand">
            <img [src]="imageSrc" alt="Image Description" class="logo-telcel p-2">
        </a>
    </div>
    <div class="col-12 col-md-2 col-sm-6 text-center d-flex align-items-center ">
        <h3 class="h3-header">TELCEL CRUD</h3>
    </div>
</header>