.row.header div {
    border: solid 0.063rem #f6f6f6;
}

/** Estilo de encabezado estatico */
.fixed-top {
    position: static;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    width: 100%;
    background: white;
}

/** Color del fondo donde esta el logo con imagen de letras blancas */
.nav-back-logo {
    background-color: #260ac5;
    text-align: right;
    padding: 0;
}

/** Enlace de logo */
.navbar-brand {
    display: inline-block;
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin-right: 0;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
  }

  /** Estilo para logo */
.logo-telcel{
    max-width: 6.5em;
}

/** Estilo para header H3 */
.h3-header{
    font-size:  2rem;
    text-align: center;
    color: #008eec;
    font: bolder;
}