<app-header></app-header>


<div class="ml-5 px-4 mb-4 pb-4">

  <div class="separator">
    <form class="form" [formGroup]="formFilter">
      <mat-card>
        <mat-card-content>
          <div class="row">
            <div class="col-3">
              <mat-form-field class="w-100">
                <mat-label>Modelo</mat-label>
                <input matInput formControlName="modelo" maxlength="200">
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="w-100">
                <mat-label>Marca</mat-label>
                <input matInput formControlName="marca" maxlength="200">
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field>
                <mat-label>Año</mat-label>
                <input matInput readonly [matDatepicker]="hourFrom" formControlName="anio">
                <mat-datepicker-toggle matSuffix [for]="hourFrom"></mat-datepicker-toggle>
                <mat-datepicker #hourFrom></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="w-100">
                <mat-label>Color</mat-label>
                <input matInput formControlName="marca" maxlength="200">
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="w-100">
                <mat-label>Memoria</mat-label>
                <input matInput formControlName="marca" maxlength="200">
              </mat-form-field>
            </div>
            <div class="col-12 aligment">
              <button type="button" class="btn-save"
                [ngClass]="{'is-disabled': !formFilter.valid, 'is-eneabled': formFilter.valid }" type="button"
                (click)="updateData();">
                <em class="fas fa-search fa-xs"></em>
                <span class="pull-righ mx-2">Alta</span>
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </div>

  <div class="mat-elevation-z8 mt-3 col-12-table">
    <table class="w-100" mat-table [dataSource]="dataSource" matSort>
      <caption class="d-none"></caption>

      <ng-container matColumnDef="marca">
        <th mat-header-cell *matHeaderCellDef mat-sort-header id> MARCA </th>
        <td mat-cell *matCellDef="let row"> {{row.marca}} </td>
      </ng-container>

      <ng-container matColumnDef="modelo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header id> MODELO </th>
        <td mat-cell *matCellDef="let row"> {{row.modelo}} </td>
      </ng-container>

      <ng-container matColumnDef="anio">
        <th mat-header-cell *matHeaderCellDef id> AÑO </th>
        <td mat-cell *matCellDef="let row"> {{row.anio}} </td>
      </ng-container>

      <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef id> COLOR </th>
        <td mat-cell *matCellDef="let row"> {{row.color}} </td>
      </ng-container>

      <ng-container matColumnDef="memoria">
        <th mat-header-cell *matHeaderCellDef id> MEMORIA </th>
        <td mat-cell *matCellDef="let row"> {{row.memoria}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <div class="mat-no-data-row" *ngIf="dataSource?.filteredData?.length == 0">
      No hay datos que coincidan con el filtro.
    </div>
    <mat-paginator [length]="pageLength" [pageIndex]="pageIndex" [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons></mat-paginator>
  </div>
</div>


<app-footer></app-footer>