.col-12-table {
    margin-bottom: 70px;
}

.mat-cell {
    font-size: 12px;
}

table {
    width: 100%;
}


.mat-card {
    background: #008eec;
    width: 15%;
    margin-left: 10px;
}

.mat-card-content {
    font-size: 18px;
    color: black;
}

.mat-form-field {
    width: 100%;
}

.separator {
    margin-top: 30px;
    margin-bottom: 30px
}

.mat-form-field.mat-focused .mat-form-field-label {
    color: #333333;
}

.mat-form-field-label-wrapper .mat-form-field-label {
    overflow: visible;
}

.mat-form-field-label-wrapper {
    overflow: visible !important;
}

.mat-sort-header-button {
    text-transform: uppercase !important;
}

.btn-save {
    background-color: #555555;
    border: black;
    color: white;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}